{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block sidebar %}
<div class="col-md-4">
                <div class="list-group">
                    {% for item in intervals %}
                    <a href="{% url 'interval' item.pk %}" class="list-group-item list-group-item-action">{{ item.title }}</a>
                    {% endfor %}
                </div>

                <div class="DatesMain mt-3">
    <table class="DatesNav">
        <tbody>
            <tr>
                <td class="MonthPrior"><a href="./select_date.html?branch=SubDev2&amp;clerk=&amp;service=L979OLIN0NIH3C2T0185DG0010&amp;date=01.09.2023">◄</a></td>
                <td></td>
                <td class="MonthName">2023 Октябрь</td>
                <td class="MonthNext"><a href="./select_date.html?branch=SubDev2&amp;clerk=&amp;service=L979OLIN0NIH3C2T0185DG0010&amp;date=01.11.2023">►</a></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <table class="DatesDates">
        <tbody>
            <tr class="DatesDayName">
                <td>Пн</td>
                <td>Вт</td>
                <td>Ср</td>
                <td>Чт</td>
                <td>Пт</td>
                <td>Сб</td>
                <td>Вс</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="NotAvailable"><span>1</span></td>
            </tr>
            <tr>
                <td class="NotAvailable">
                    <span>2</span>
                </td>
                <td class="NotAvailable">
                    <span>3</span>
                </td>
                <td class="NotAvailable">
                    <span>4</span>
                </td>
                <td class="NotAvailable">
                    <span>5</span>
                </td>
                <td class="NotAvailable">
                    <span>6</span>
                </td>
                <td class="NotAvailable">
                    <span>7</span>
                </td>
                <td class="NotAvailable">
                    <span>8</span>
                </td>
            </tr>
            <tr>
                <td class="Available"><a href="./select_time.html?branch=SubDev2&amp;clerk=&amp;service=L979OLIN0NIH3C2T0185DG0010&amp;date=09.10.2023">9</a></td>
                <td class="Available"><a href="./select_time.html?branch=SubDev2&amp;clerk=&amp;service=L979OLIN0NIH3C2T0185DG0010&amp;date=10.10.2023">10</a></td>
                <td class="Available"><a href="./select_time.html?branch=SubDev2&amp;clerk=&amp;service=L979OLIN0NIH3C2T0185DG0010&amp;date=11.10.2023">11</a></td>
                <td class="Available"><a href="./select_time.html?branch=SubDev2&amp;clerk=&amp;service=L979OLIN0NIH3C2T0185DG0010&amp;date=12.10.2023">12</a></td>
                <td class="Available"><a href="./select_time.html?branch=SubDev2&amp;clerk=&amp;service=L979OLIN0NIH3C2T0185DG0010&amp;date=13.10.2023">13</a></td>
                <td class="NotAvailable">
                    <span>14</span>
                </td>
                <td class="NotAvailable">
                    <span>15</span>
                </td>
            </tr>
            <tr>
                <td class="Available"><a href="./select_time.html?branch=SubDev2&amp;clerk=&amp;service=L979OLIN0NIH3C2T0185DG0010&amp;date=16.10.2023">16</a></td>
                <td class="Available"><a href="./select_time.html?branch=SubDev2&amp;clerk=&amp;service=L979OLIN0NIH3C2T0185DG0010&amp;date=17.10.2023">17</a></td>
                <td class="Available"><a href="./select_time.html?branch=SubDev2&amp;clerk=&amp;service=L979OLIN0NIH3C2T0185DG0010&amp;date=18.10.2023">18</a></td>
                <td class="Available"><a href="./select_time.html?branch=SubDev2&amp;clerk=&amp;service=L979OLIN0NIH3C2T0185DG0010&amp;date=19.10.2023">19</a></td>
                <td class="Available"><a href="./select_time.html?branch=SubDev2&amp;clerk=&amp;service=L979OLIN0NIH3C2T0185DG0010&amp;date=20.10.2023">20</a></td>
                <td class="Available"><a href="./select_time.html?branch=SubDev2&amp;clerk=&amp;service=L979OLIN0NIH3C2T0185DG0010&amp;date=21.10.2023">21</a></td>
                <td class="NotAvailable">
                    <span>22</span>
                </td>
            </tr>
            <tr>
                <td class="Available"><a href="./select_time.html?branch=SubDev2&amp;clerk=&amp;service=L979OLIN0NIH3C2T0185DG0010&amp;date=23.10.2023">23</a></td>
                <td class="Available"><a href="./select_time.html?branch=SubDev2&amp;clerk=&amp;service=L979OLIN0NIH3C2T0185DG0010&amp;date=24.10.2023">24</a></td>
                <td class="Available"><a href="./select_time.html?branch=SubDev2&amp;clerk=&amp;service=L979OLIN0NIH3C2T0185DG0010&amp;date=25.10.2023">25</a></td>
                <td class="Available"><a href="./select_time.html?branch=SubDev2&amp;clerk=&amp;service=L979OLIN0NIH3C2T0185DG0010&amp;date=26.10.2023">26</a></td>
                <td class="Available"><a href="./select_time.html?branch=SubDev2&amp;clerk=&amp;service=L979OLIN0NIH3C2T0185DG0010&amp;date=27.10.2023">27</a></td>
                <td class="Available"><a href="./select_time.html?branch=SubDev2&amp;clerk=&amp;service=L979OLIN0NIH3C2T0185DG0010&amp;date=28.10.2023">28</a></td>
                <td class="NotAvailable">
                    <span>29</span>
                </td>
            </tr>
            <tr>
                <td class="Available"><a href="./select_time.html?branch=SubDev2&amp;clerk=&amp;service=L979OLIN0NIH3C2T0185DG0010&amp;date=30.10.2023">30</a></td>
                <td class="Available"><a href="./select_time.html?branch=SubDev2&amp;clerk=&amp;service=L979OLIN0NIH3C2T0185DG0010&amp;date=31.10.2023">31</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
            </div>
{% endblock %}

{% block content %}
<div class="col-md-8">
                {% for item in  events %}
                <div class="card mb-3">
                    <div class="card-header">
                        Интервал: <a href="{% url 'interval' item.pk %}">{{ item.interval }}</a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text">{{ item.description_event|truncatewords:50 }}</p>
                        <a href="#" class="btn btn-primary">Read more...</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        {{ item.start_of_the_event|date:"Y-m-d H:i" }}
                    </div>
                </div>
                {% endfor %}



            </div>
{% endblock %}
